body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSansBold'), url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSansLight'), url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSansMedium'), url('../fonts/OpenSans-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSansRegular'), url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  list-style: none;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1700px;
  padding: 0 50px;
  margin: 0 auto;
}


/* Header */

.navigation {
  background-color: #000000;
}

.stop__scrol {
  overflow: hidden;
}


/* Burger */

.burger {
  display: none;
}

.burger__span {
  display: flex;
  flex-direction: column;
  height: 1px;
  border-bottom: 3px solid #ffffff;
  margin-bottom: 8px;
}

.burger1 {
  width: 36px;
}

.burger2 {
  width: 28px;
}

.burger3 {
  width: 24px;
}

.burgers__menu {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  min-height: 768px;
  z-index: 100;
  padding: 50px;
  padding-top: 145px;
  box-shadow: 0 0 5px #888;
  background: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  transform: translateX(-128%);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.burgers__menu-active {
  visibility: visible;
  transform: none;
}

.burger-active .burger2 {
  opacity: 0;
}

.burger-active .burger1 {
  position: absolute;
  top: 47%;
  transform: rotate(45deg);
  transform-origin: center;
  transition: transform 0.3s ease, top 0.3s ease, left 0.3s ease;
}

.burger-active .burger3 {
  position: absolute;
  width: 35px;
  bottom: auto;
  top: 48%;
  transform: rotate(-45deg);
  transform-origin: center;
  transition: transform 0.3s ease, top 0.3s ease, left 0.3s ease;
}


/* Burger end */

.header__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 64px;
}

.header__logo {
  padding-right: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 1249px;
  padding: 20px 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  font-weight: 600;
  font-size: 18px;
}

.header__link {
  flex-shrink: 0;
  color: #ffffff;
  transition: color 0.2s ease-in-out;
}

.header__link path {
  transition: fill 0.2s ease-in-out;
}

.header__link:focus {
  background: #7943a4;
  box-shadow: 0 0 0 3px #7943a4;
  outline: none;
}

.header__link:hover,
.header__link:hover path {
  background-color: inherit;
  box-shadow: none;
  color: #c283f3;
  fill: #c283f3;
}

.header__link:active,
.header__link:active path {
  background-color: inherit;
  color: #7943a4;
  fill: #7943a4;
}

.header__button {
  width: 30px;
  height: 30px;
  transition: opacity 0.3s ease-in-out;
}

.header__button.active {
  opacity: 0;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 314px;
  min-height: 36px;
  z-index: 2;
  top: 6%;
  right: 50px;
  transform: translateY(-100px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out 0.2s, visibility 0.3s ease-in-out 0.2s;
}

.form__input {
  background: none;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  width: 216px;
  color: #ffffff;
}

.form__submit {
  width: 30px;
  height: 30px;
}

.form__input:focus-visible {
  outline: 0;
  opacity: 0.8;
}

.form__active {
  width: 305px;
  transform: translateY(0);
  visibility: visible;
}

.navigation-bottom {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.navigation-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.navigation-bottom__link {
  position: relative;
  z-index: 3;
}

.navigation-bottom__link:last-child {
  margin: 0;
}

.navigation-bottom__input {
  font-size: 18px;
  line-height: 25px;
  transition: .3s ease;
  padding: 0;
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: #fff;
}

.navigation-bottom__button:hover path,
.navigation-bottom__button:focus path {
  transition: fill 0.3s ease;
  fill: #c283f3;
}

.navigation-bottom__button:hover rect,
.navigation-bottom__button:focus rect {
  transition: fill 0.3s ease;
  fill: #c283f3;
}

.navigation-bottom__button:active path {
  transition: fill 0.3s ease;
  fill: #7943a4;
}

.navigation-bottom__button:active rect {
  transition: fill 0.3s ease;
  fill: #7943a4;
}

.navigation-bottom__input:focus::placeholder {
  opacity: 0;
  transition: 0.3s ease;
}

.navigation-bottom__input:focus,
.navigation-bottom__input:hover {
  transition: border 0.3s ease;
  border-bottom: 1px solid #c283f3;
}

.navigation-bottom__input:active {
  transition: border 0.3s ease;
  border-bottom: 1px solid #7943a4;
}

.navigation-bottom__input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.navigation-bottom__list {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 25px;
  padding: 20px 0;
  column-gap: 96px;
  row-gap: 20px;
  color: #ffffff;
}

.navigation-bottom__search {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 250px;
  z-index: 30;
}

.navigation-bottom__button {
  padding-top: 8px;
  margin-right: 6px;
}

.dropbtn {
  color: white;
  border: none;
}

.dropbtn svg {
  transition: transform 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.dropbtn:focus {
  background-color: #7943a4;
  box-shadow: 0 0 0 3px #7943a4;
  outline: none;
  color: white;
}

.dropbtn:hover,
.dropbtn:hover path {
  transition: color 0.3s ease, background-color 0.3s ease, stroke 0.3s ease;
  background-color: inherit;
  box-shadow: none;
  color: #9d5cd0;
  stroke: #9d5cd0;
}

.dropdown {
  position: absolute;
  bottom: -21px;
  left: 0;
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
}

.dropdown-wrap .simplebar-wrapper {
  overflow: visible;
}

.dropdown-wrap {
  width: 240px;
  max-height: 220px;
}

.dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.is-active svg {
  transform: rotate(180deg);
}

.dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

[data-simplebar] {
  position: initial;
}

.simplebar-offset {
  padding: 38px;
}

.dropdown__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding-left: 14px;
  margin: 2px;
  outline: 2px solid transparent;
  transition: .3s ease
}

.dropdown-list:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__link:hover,
.dropdown__link:focus {
  outline: 2px solid #9d5cd0;
}

.dropdown__link:active {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}


/* Hero */

.hero {
  position: relative;
  min-height: 564px;
  padding-top: 137px;
}

.hero__slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.slider.swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.slide {
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
}

.slide-1 {
  background-image: url("../img/hero-slide1.jpg");
}

.slide-2 {
  background-image: url("../img/hero-slide2.jpg");
}

.slide-3 {
  background-image: url("../img/hero-slide3.jpg");
}

.hero__swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

.hero__content {
  position: relative;
  padding-bottom: 122px;
}

.hero__title {
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
  color: #ffffff;
}

.hero__descr {
  max-width: 550px;
  min-height: 90px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 92px;
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  width: 314px;
  min-height: 70px;
  color: #ffffff;
  background: #9d5cd0;
  outline: 2px solid transparent;
  border-radius: 100px;
  transition: all .3s ease;
}

.hero__btn:focus {
  outline: 2px solid #d1a9f0;
  outline-offset: 3px;
}

.hero__btn:hover {
  outline: 2px solid #d1a9f0;
}

.hero__btn:active {
  outline: 2px solid #d1a9f0;
  background-color: #7943a4;
}

.simplebar-scrollbar {
  height: 38px;
  width: 2px;
  background: #ffffff;
}

.simplebar-track.simplebar-vertical {
  background-color: #000000;
  width: 2px;
  margin-right: 19px;
  margin-top: 40px;
  height: 220px;
}

.simplebar-content:before {
  background: #000000;
  opacity: 1;
}

.titoretto {
  background-image: url('../img/titoretto.jpg');
}

.Friedrich {
  background-image: url('../img/Friedrich.jpg');
}

.leonardo {
  background-image: url('../img/leonardo.jpg');
}

.Verrocchio {
  background-image: url('../img/Verrocchio.jpg');
}

.mone {
  background-image: url('../img/mone.jpg');
}

.sisley {
  background-image: url('../img/sisley.jpg');
}

.mane {
  background-image: url('../img/mane.jpg');
}

.renuar {
  background-image: url('../img/renuar.jpg');
}

.vangog {
  background-image: url('../img/vangog.jpg');
}

.sezan {
  background-image: url('../img/sezan.jpg');
}

.gogen {
  background-image: url('../img/gogen.jpg');
}

.sera {
  background-image: url('../img/sera.jpg');
}

.kandinski {
  background-image: url('../img/kandinsky.jpg');
}

.marinetti {
  background-image: url('../img/marinetti.jpg');
}

.malevic {
  background-image: url('../img/malevic.jpg');
}

.picasso {
  background-image: url('../img/picasso.jpg');
}

.kappa {
  background-image: url('../img/kappa.jpg');
}

.pratella {
  background-image: url('../img/pratella.jpg');
}

.sevelini {
  background-image: url('../img/severini.jpg');
}

.balla {
  background-image: url('../img/balla.jpg');
}


/* About */

.about {
  padding-top: 80px;
  padding-bottom: 71px;
}

.about__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
  margin-bottom: 14px;
}

.about__descr {
  max-width: 1080px;
  min-height: 214px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}


/* Galery */

.galery {
  background-image: url('../img/galery-background.jpg');
  background-size: cover;
}

.galery__right {
  display: flex;
  flex-direction: column;
  width: calc(400 / 1587 * 100%);
}

.galery__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 15px;
  color: #ffffff;
}

.galery__content {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 77px;
}

.galery__span {
  display: block;
  font-weight: 600;
  font-size: 16.5px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 11px;
}

.choices {
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 173px;
}

.choices:focus {
  background: rgba(255, 255, 255, 0.2);
}

.choices__inner {
  background-color: inherit;
  min-height: 100%;
  font-size: 16px;
  padding-left: 12px;
  transition: .3s ease;
}

.choices__inner:focus,
.choices__inner:hover,
.choices__inner:active {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  outline: 1px solid #ffffff;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  width: 100%;
  background: #000000;
  color: #ffffff;
  border-radius: 6px;
  top: 100%;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.is-selected {
  display: none;
}

.choices__item--selectable:nth-child(3),
.choices__item--selectable:nth-child(2) {
  border-top: 1px solid #ffffff;
}

.checkbox {
  display: inline-flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16.5px;
  line-height: 32px;
  color: #ffffff;
}

.checkbox__custom:focus .visible-checkbox,
.checkbox__custom:hover .visible-checkbox,
.checkbox__custom:active .visible-checkbox {
  border: 1px solid #c283f3;
}

.checkbox__custom:focus,
.checkbox__custom:hover,
.checkbox__custom:active {
  color: #c283f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.visible-checkbox {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 7px;
  border: 1px solid #fff;
  vertical-align: middle;
  transition: border-color .3s ease;
}

.visible-checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #C283F3;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity .3s ease;
}

.checkbox:checked~.visible-checkbox {
  border-color: #C283F3;
}

.checkbox:checked~.visible-checkbox::before {
  opacity: 1;
}

.check-text {
  vertical-align: middle;
  transition: color .3s ease;
}

.checkbox:checked~.check-text {
  color: #C283F3;
}

.checkbox:focus~.check-text {
  color: #C283F3;
}

.galery__left {
  width: calc(1156 / 1600 * 100%);
  margin-right: 0;
  padding-top: 26px;
}

.slides-container {
  overflow: hidden;
  padding: 20px 2px 2px 2px;
}

.galery__swiper-slide {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.galery__swiper-slide:focus {
  outline: 3px solid #7943A4;
}

.galery__swiper-slide:hover {
  outline: none;
}

.galery__swiper-img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  transition: .3s ease;
}

.galery__swiper-img:hover::after {
  content: '';
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 25px;
  background-image: url('../img/hovergalery.png');
  background-size: cover;
  animation-name: hoverOn;
  animation-duration: 0.4s;
  opacity: 0;
  z-index: 100;
}

.galery__swiper-img:active:before {
  content: '';
  position: absolute;
  width: auto;
  height: auto;
  outline: none;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  animation-name: hoverOn;
  animation-duration: 0.3s;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.galery__swiper-img:active::before {
  opacity: 1;
  width: 360px;
  height: 364px;
}

.galery__swiper-img:hover::after {
  opacity: 1;
}


.galery__btn {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  transition: .3s ease;
  padding-left: 10px;

}

.galery__btn .swiper-button-disabled {
  pointer-events: none;
}

.galery__btn .swiper-button-disabled path {
  fill: rgba(102, 102, 102, 0.5);
  cursor: auto;
}

.galery-button-prev {
  margin-right: 15px;
}

.galery-button-next:focus,
.galery-button-prev:focus {
  outline: 2px solid #000;
  outline-offset: -2px;
}

.galery-button-next,
.galery-button-prev {
  position: relative;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: 2px solid transparent;
  border-radius: 50%;
  transition: .3s ease;
}

.galery-button-next path,
.galery-button-prev path {
  transition: .3s ease-in-out;
}

.galery-button-next path:hover,
.galery-button-prev path:hover {
  outline: none;
  fill: #9d5cd0;
}

.galery-button-next path:active,
.galery-button-prev path:active {
  fill: #7943a4;
  outline: 2px solid #000000;
}

.swiper-pagination {
  position: inherit;
  margin-right: 20px;
  text-align: center;
  color: #fff;
}


/* Catalog */

.catalog {
  padding-top: 80px;
  padding-bottom: 40px;
}

.catalog__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 16px;
  color: #333333;
}

.catalog__descr {
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 40px;
  color: #333333;
}

.catalog__accordion {
  display: flex;
  justify-content: space-between;
}

.catalog__left {
  width: 47%;
}

.catalog__right {
  width: 50%;
}

.catalog__photo {
  width: 100%;
  margin-bottom: 30px;
}

.catalog__name {
  font-weight: 600;
  font-size: 24.5px;
  line-height: 25px;
  color: #333333;
  margin-bottom: 10px;
}

.tabs-item__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: black;
}

.tabs-item__small {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  margin-bottom: 16px;
}

.catalog__link {
  color: #9d5cd0;
  transition: .3s ease;
  border-bottom: 1px solid transparent;
}

.catalog__link:focus {
  color: white;
  box-shadow: 0 0 0 3px #9d5cd0;
  background: #9d5cd0;
  outline: none;
}

.catalog__link:hover {
  background: inherit;
  color: #9d5cd0;
  box-shadow: none;
  border-bottom: 1px solid #9d5cd0;
}

.catalog__link:active {
  border: none;
  color: #000000;
}

.tabs-item {
  display: none;
}

.tabs-item-active {
  display: block;
  animation-name: tabOpen;
  animation-duration: 0.4s;
}

.ui-icon {
  display: none;
}

.accordion__top {
  flex-direction: row;
  align-items: center;
  min-height: 114px;
}

.accordion__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-top: -1px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  transition: color .3s ease, border-color .3s ease;
}

.ui-accordion-header:focus p {
  transition: background-color .3s ease, color .3s ease;
  color: #fff;
  background-color: #9D5CD0;
  outline: none;
}

.ui-accordion-header:focus {
  outline: none;
}

.ui-accordion-header:hover p {
  transition: color .3s ease;
  color: #9D5CD0;
  background-color: transparent;
  outline: none;
}

.ui-accordion-header:hover {
  transition: border-color .3s ease, background-color .3s ease;
  border-color: #9d5cd0;
  background-color: transparent;
  outline: none;
  z-index: 1000;
}

.ui-accordion-header:active p {
  transition: color .3s ease;
  color: #9D5CD0;
  background-color: transparent;
  outline: none;
}

.accordion__button {
  border: none;
}

.accordion__bottom {
  column-count: 3;
  padding: 25px 0;
}

.accordion__bottom a:focus {
  outline: none;
}

.accordion__unknow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.unknow {
  display: flex;
  flex-direction: row;
  padding: 37px 15px;
  height: auto;
}

.ui-accordion .ui-accordion-header-active {
  transition: color .3s ease, border-color .3s ease;
  background-color: transparent;
  color: #9d5cd0;
  border-color: #9d5cd0;
}

.ui-accordion .ui-accordion-header-active:focus p {
  color: white;
  box-shadow: 0 0 0 3px #9d5cd0;
  background: #9d5cd0;
}

.ui-accordion .ui-accordion-header-active p {
  transition: color .3s ease, border-color .3s ease;
  background-color: transparent;
  color: #7943A4;
  border-color: #7943A4;
}

.accordion__top:hover .ui-accordion-header {
  transition: color .3s ease, border-color .3s ease;
  border-color: #7943a4;
}

.accordion__top svg {
  position: absolute;
  right: 0;
  top: 48%;
  width: 45px;
  height: 45px;
  margin-top: -23px;
  transition: transform 0.3s ease;
}

.accordion__top svg path:nth-child(1) {
  transition: fill 0.3s ease-in-out;
}

.accordion__top:focus svg path:nth-child(1) {
  fill: #d1a9f0;
}

.accordion__top:hover svg path:nth-child(1) {
  fill: #d1a9f0;
}

.ui-accordion-header-active svg {
  transform: rotate(180deg);
  outline: 2px solid #9d5cd0;
  border-radius: 100%;
}

.ui-accordion-header-active svg path:nth-child(1) {
  fill: #d1a9f0;
  outline: 2px solid #9d5cd0;
  border-radius: 100%;
}

.accordion__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
  order: 0;
  flex-grow: 0;
  border-bottom: 1px solid transparent;
  transition: .3s ease;
}

.accordion__btn:focus {
  color: white;
  box-shadow: 0 0 0 3px #9d5cd0;
  background: #9d5cd0;
}

.accordion__btn:hover {
  background: inherit;
  color: #9d5cd0;
  box-shadow: none;
  border-bottom: 1px solid #9d5cd0;
}

.accordion__btn:active {
  border: none;
  color: #000000;
}

.accordion__pic {
  width: 32.7%;
  min-height: 165px;
  margin-right: 36px;
  background: #b7b7b7;
  outline: 2px solid #b7b7b7;
  outline-offset: 12px;
}

.unknow__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.unknow__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}


/* Events */

.events {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}


.events__photo {
  width: 100%;
}

.events__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
  margin-bottom: 17px;
}

.events__btn path:focus:nth-child(1) {
  transition: all .3s ease;
  stroke: #9d5cd0;
}

.events__btn path:hover:nth-child(1) {
  transition: all .3s ease;
  fill: #d1a9f0;
}

.events__btn path:active:nth-child(1) {
  transition: all .3s ease;
  fill: #d1a9f0;
  stroke: #9d5cd0;
}

.events__card {
  position: relative;
  padding-bottom: 28%;
  border: 1px solid #cacaca;
}

.events__text {
  padding: 0 50px;
}

.events__slider {
  position: relative;
}

.event-button-next {
  position: absolute;
  top: 47%;
  right: -25px;
  z-index: 20;
}

.event-button-prev {
  position: absolute;
  transform: rotate(180deg);
  top: 47%;
  left: -25px;
  z-index: 20;
}

.event-button-prev,
.event-button-next:focus {
  outline: none;
}

.events__btn .swiper-button-disabled,
.events__btn .swiper-button-disabled {
  display: none;
}

.annot {
  width: 155px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16.3px;
  color: #999999;
  margin-bottom: 12px;
  padding-top: 9px;
}

.events__title2 {
  font-weight: 600;
  font-size: 24.5px;
  line-height: 32.68px;
  color: #333333;
  margin-bottom: 9px;
}

.events__child5 {
  margin-bottom: 9px;
}

.events__child6 {
  margin-bottom: 8px;
}

.events__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.events__link {
  position: absolute;
  bottom: 44px;
  left: 51px;
  font-size: 16px;
  color: #9d5cd0;
  border-bottom: 1px solid #9d5cd0;
  transition: all .3s ease;
}

.events__link:focus {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  background: #9d5cd0;
  box-shadow: 0 0 0 3px #9d5cd0;
  outline: none;
}

.events__link:hover {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
  background: inherit;
  box-shadow: none;
}

.events__link:active {
  color: #000000;
  border-bottom: 1px solid #000000;
}


/* Project */

.project {
  min-height: 562px;
  padding-top: 36px;
  padding-bottom: 80px;
}

.project__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: #333333;
  margin-bottom: 16px;
}

.project__text {
  max-width: 1080px;
  min-height: 246px;
  font-weight: 400;
  font-size: 16.03px;
  line-height: 32px;
  margin-bottom: 20px;
}

.project__link {
  color: #9d5cd0;
  border-bottom: 1px solid transparent;

  transition: all .3s ease;
}

.project__link:focus {
  border-bottom: none;
  outline: none;
  background: #9d5cd0;
  box-shadow: 0 0 0 3px #9d5cd0;
  color: #ffffff;
}

.project__slide {
  position: relative;
  width: 100%;
  height: 100%;
  filter: grayscale(1) opacity(0.5);

}

.project__slide:hover {
  filter: none;
  transition: all .3s ease;
}

.project__link:hover {
  color: #9d5cd0;
  border-bottom: 1px solid #9d5cd0;
  box-shadow: none;
}

.project__link:active {
  color: #7943a4;
  border-bottom: 1px solid #7943a4;
}

.partners-title {
  font-weight: 600;
  font-size: 24.5px;
  line-height: 32px;
}

.project-swiper-content {
  position: relative;
}

.project__swiper {
  position: initial;
  padding-top: 24px;
  margin: 0 74px;
}


.project-swiper-slider:active,
.project-swiper-slider:focus {
  outline: 1px solid #9D5CD0
}

.project__btn {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 34%;
  width: 100%;
  min-height: 30px;
}


.project-button-prev,
.project-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}

.project__btn svg {
  transition: all 3s ease;

}

.project__btn svg path:focus:nth-child(1) {
  transition: stroke .3s ease;
  stroke: #9d5cd0;
}

.project__btn svg path:hover:nth-child(1) {
  transition: fill .3s ease;
  fill: #d1a9f0;
}

.project__btn svg path:active:nth-child(1) {
  transition: fill, stroke .3s ease;
  fill: #d1a9f0;
  stroke: #9d5cd0;
}

.tippy-box[data-theme~='tomato'] {
  background-color: #9d5cd0;
}

.tippy-box[data-theme~='tomato'][data-placement^='top']>.tippy-arrow::before {
  border-top-color: #9d5cd0;
}

#myButton1,
#myButton2,
#myButton3 {
  transition: background-color 0.3s ease-in-out;
}

#myButton1:focus,
#myButton1:hover,
#myButton2:focus,
#myButton2:hover,
#myButton3:focus,
#myButton3:hover {
  outline: none;
  fill: #9d5cd0;
  stroke: white;
}


/* Map */

#map {
  width: 100%;
  height: 700px;
}

.ymaps-2-1-79-ground-pane {
  filter: grayscale(1);
}

.map__top {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 81px;
  padding: 37px 50px;
  align-items: center;
}

.map__title {
  font-weight: 600;
  font-size: 24.5px;
  margin-bottom: 14px;
  line-height: 18px;
  color: #333333;
}

.map__form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 908px;
  gap: 20px;
}

.place {
  display: flex;
  flex-direction: column-reverse;
}

.place input:focus,
.place input:hover {
  transition: background-color .3s ease;
  background-color: #ECECEC;
}

.js-validate-error-label {
  position: absolute;
  padding-left: 24px;
  margin-bottom: 55px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.fio::placeholder {
  color: #999999;
}

.fio {
  width: 268px;
  line-height: 32px;
  padding: 8px 0 8px 24px;
  border: 1px solid #333333;
  border-radius: 100px;
  color: #999999;
}

.map__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  padding: 12px 35px;
  max-width: 343px;
  min-height: 50px;
  border: 2px solid #9d5cd0;
  border-radius: 100px;
  color: #9d5cd0;
  transition: outline 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.map__btn:focus {
  outline: 2px solid #d1a9f0;
  outline-offset: 3px;
}

.map__btn:hover {
  color: #ffffff;
  background-color: #9d5cd0;
}

.map__btn:active {
  color: #ffffff;
  outline: 3px solid #d1a9f0;
  background: #7943a4;
}

.map__span {
  font-weight: 600;
  font-size: 24.5px;
  line-height: 23px;
}

.messager {
  display: flex;
  padding-top: 10px;
}

.whatsapp {
  transition: opacity 0.2s ease-in-out;
  margin-right: 15px;
}

.telegramm {
  width: 40px;
  height: 40px;
  transition: opacity 0.2s ease-in-out;
}

.whatsapp:focus,
.whatsapp:hover,
.telegramm:focus,
.telegramm:hover {
  opacity: 0.5;
}


/* Footer */

.footer {
  min-height: 140px;
  background: #000000;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}

.footer__messager {
  display: flex;
  justify-content: space-between;
  min-width: 110px;
}

.footer__mess path:focus,
.footer__mess path:hover,
.footer__mess g:focus,
.footer__mess g:hover {
  transition: fill 0.2s ease-in-out;
  fill: #ffffff;
}

.footer__mess g:active,
.footer__mess path:active {
  transition: fill 0.2s ease-in-out;
  fill: #9d5cd0;
}


/* Animation on */

@keyframes hoverOn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes tabOpen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Animation off */

@media (min-width: 1025px) {
  .burgers {
    display: none;
  }

  .accordion__btn-visible {
    display: none;
  }

  .event-swiper-pagination {
    display: none;
  }

  .accordion__btn-320-visible {
    display: none;
  }

  .form {
    display: none;
  }

  .header__form {
    display: none;
  }
}

@media (max-width: 1440px) {
  .header__list {
    column-gap: 35px;
  }

  .navigation-bottom {
    display: none;
  }
}

@media (max-width: 1024px) {
  .burger {
    display: block;
    order: -1;
    width: 36px;
    height: 28px;
    transition: transform 0.3s ease, top 0.3s ease, left 0.3s ease;
  }

  .nav {
    position: absolute;
    left: -100px;
    transition: transform 0.3s ease;
    transform: translateX(-1000%);
  }

  .burger-active {
    position: relative;
    z-index: 1000;
  }

  .nav-active {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 1030px;
    padding-left: 50px;
    background: rgba(0, 0, 0, 0.9);
    left: 0;
    padding-top: 170px;
    padding-bottom: 51px;
    transform: translateX(0);
    z-index: 100;
  }

  .header__form {
    width: 37px;
  }

  .header__button {
    right: -7px;
    top: 2px;
  }

  .header__list {
    flex-direction: column;
    padding-top: 614px;
    margin-right: 0;
  }

  .header__link {
    font-size: 24px;
  }

  .header__li {
    line-height: 27px;
  }

  .header__li:not(:last-child) {
    margin-bottom: 34px;
  }

  .header__li:last-child {
    margin-bottom: 198px;
  }

  .header__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 0;
    width: 257px;
    height: 60px;
    border: 2px solid #9d5cd0;
    border-radius: 100px;
  }

  .header__btn svg {
    margin-right: 7px;
  }

  .form__input {
    width: 213px;
    margin-right: 15px;
  }

  .form__submit {
    top: -2px;
  }

  .hero {
    margin-top: 0;
    min-height: 558px;
    padding-top: 110px;
  }

  .hero__content {
    padding-bottom: 114px;
  }

  .hero__swiper {
    min-height: 559px;
  }

  .header__logo {
    line-height: 15px;
    padding-right: 0;
  }

  .hero__title {
    line-height: 94px;
    margin-bottom: -7px;
  }

  .hero__descr {
    max-width: 656px;
    line-height: 30px;
    margin-bottom: 103px;
  }

  .about__descr {
    max-width: 925px;
    min-height: 246px;
  }

  .galery__content {
    padding-bottom: 73px;
  }

  .galery__left {
    width: calc(1043 / 1600 * 100%);
  }

  .galery__right {
    width: calc(480 / 1587 * 100%);
  }

  .galery__swiper-img img {
    height: 315px;
  }

  .galery__swiper-img:hover::after {
    opacity: 1;
    width: 249px;
    height: 286px;
  }

  .galery__swiper-img::after {
    left: 15px;
    bottom: 15px;
  }

  .choices {
    margin-bottom: 106px;
  }

  .checkbox {
    font-size: 16px;
    line-height: 30px;
  }

  .visible-checkbox {
    width: 9px;
    height: 10px;
  }

  .choices__inner:focus,
  .choices__inner:hover,
  .choices__inner:active {
    min-height: 37px;
    border-radius: 6px;
  }

  .swiper {
    height: auto;
  }

  .catalog__right {
    width: 47%;
  }

  .catalog__photo {
    margin-bottom: 31px;
  }

  .catalog__descr {
    max-width: 925px;
    line-height: 32px;
    min-height: 117px;
    margin-bottom: 39px;
  }


  .tabs-item__descr {
    line-height: 32px;
  }

  .tabs-item__small {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
  }

  .catalog__name {
    font-size: 24.57px;
    margin-bottom: 14px;
  }

  .accordion__bottom {
    column-count: 2;
    padding: 29px 0;
  }

  .accordion__top svg {
    width: 46px;
    height: 46px;
  }

  .accordion__pic {
    width: 44.7%;
    outline-offset: 6px;
  }

  .accordion__unknow {
    width: 58%;
    padding-top: 0;
    margin: 0;
  }

  .unknow {
    padding: 33px 15px;
  }

  .unknow__title {
    padding-top: 0;
    margin-bottom: 5px;
  }

  .catalog {
    padding-top: 80px;
  }

  .events__title {
    margin-bottom: 16px;
  }

  .event-button-next {
    display: none;
  }

  .events__link {
    left: 33px;
    bottom: 54px;
  }

  .events__btn {
    display: none;
  }

  .events__card {
    padding-bottom: 25%;
  }

  .events__text {
    padding: 0 33px;
  }

  .events__title2 {
    font-size: 24.5px;
    line-height: 32.68px;
    margin-bottom: 7px;
  }

  .events__child5 {
    margin-bottom: 4px;
  }

  .events__child6 {
    margin-bottom: 5px;
  }

  .annot {
    width: auto;
    text-align: right;
    padding-left: 77px;
    padding-top: 11px;
    margin-bottom: 3px;
  }

  .event-swiper-pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background: #666666;
  }

  .project {
    padding-bottom: 73px;
    padding-top: 38px;
  }

  .project__swiper {
    margin: 0 53px;
  }

  .project__text {
    max-width: 925px;
    min-height: 278px;
  }

  .project__text1024 {
    display: none;
  }

  .partners-title {
    font-size: 24.5px;
  }

  .map__top {
    row-gap: 28px;
    padding: 50px 50px;
    padding-bottom: 38px;
  }

  .map__title {
    margin-bottom: 17px;
  }

  .map__subtitle {
    font-size: 14px;
  }

  .map__descr {
    line-height: 22px;
  }

  .footer__messager {
    min-width: 139px;
  }

  .map__span {
    min-width: 275px;
    min-height: 78px;
    font-size: 24.5px;
  }

  .whatsapp {
    margin-right: 18px;
  }

  .map__form {
    max-width: 923px;
  }

  .footer__mess {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {

  .nav-active {
    min-height: 1211px;
  }

  .header__list {
    padding-top: 616px;
  }

  .hero {
    min-height: 558px;
  }

  .hero__title {
    font-size: 9.4vw;
  }

  .hero__descr {
    margin-bottom: 103px;
  }

  .header__title {
    padding-left: 60px;
  }

  .header__search {
    padding-left: 80px;
  }

  .about__title {
    margin-bottom: 17px;
  }

  .about__descr {
    max-width: 666px;
    min-height: 342px;
  }

  .form {
    width: 668px;
    height: 100px;
  }

  .form__active {
    top: 0px;
    width: calc(100% - 80px);
    height: 100px;
    background-color: #000000;
    z-index: 1000;
  }

  .form__input {
    width: 576px;
    padding-left: 10px;
    margin-right: 10px;
  }

  .galery {
    min-height: 889px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .galery__right,
  .galery__left {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .galery__title {
    margin-bottom: 16px;
  }

  .galery__span {
    margin-bottom: 10px;
  }

  .galery__btn {
    padding-left: 0;
  }

  .galery__content {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 34px;
  }

  .hero__swiper {
    min-height: 329px;
  }

  .galery__swiper-img img {
    height: 331px;
  }

  .galery__swiper-img::after {
    left: 30px;
    bottom: 30px;
  }

  .choices {
    width: 279px;
    margin-bottom: 35px;
  }

  .choices__list--single .choices__item {
    background: inherit;
  }

  .catalog__title {
    margin-bottom: 15px;
  }

  .catalog__descr {
    max-width: 669px;
    min-height: 182px;
    margin-bottom: 20px;
  }

  .catalog__accordion {
    display: flex;
    flex-direction: column-reverse;
  }

  .catalog__left {
    width: 100%;
  }

  .catalog__photo {
    margin-bottom: 20px;
  }

  .tabs-item__descr {
    font-size: 16px;
    line-height: 32px;
  }

  .tabs-item__small {
    margin-bottom: 6px;
  }

  .catalog__right {
    width: 100%;
    margin-bottom: 49px;
  }

  .unknow {
    padding: 33px 15px;
  }

  .accordion__bottom {
    column-count: 3;
  }

  .accordion__pic {
    width: 41%;
  }

  .catalog {
    margin-bottom: 0;
  }

  .events__card {
    padding-bottom: 38%;
  }

  .events__photo {
    height: 200px;
  }

  .events__text {
    padding: 0 17px;
  }

  .events__title2 {
    margin-bottom: 6px;
    padding: 0 18px;
  }

  .events__descr {
    padding: 0 16px;
  }

  .events__link {
    left: 36px;
    bottom: 53px;
  }

  .annot {
    margin-bottom: 3px;
  }

  .events__child5 {
    padding: 0 15px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    min-height: 10px;
  }

  .galery__swiper-img:hover::after {
    opacity: 1;
    width: 259px;
    height: 274px;
  }

  .project__text {
    max-width: 657.51px;
    min-height: 414px;
    margin-bottom: 29px;
  }

  .project__slide {
    height: 106px;
  }

  .project__swiper {
    padding-top: 32px;
  }

  .project__text768 {
    display: none;
  }

  .map__top {
    padding: 48px 50px;
    padding-bottom: 33px;
  }

  .map__form {
    row-gap: 0;
    column-gap: 18px;
    margin-bottom: 10px;
  }

  .map__span {
    line-height: 15px;
  }

  .place {
    width: 325px;
    min-height: 50px;
    margin-bottom: 8px;
  }

  .fio {
    width: 323px;
  }

  .map__btn {
    padding: 12px 30px;
  }

  .map__span {
    max-width: 300px;
    min-height: 78px;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 0 15px;
  }

  .navigation {
    max-width: 425px;
    height: 45px;
  }

  .nav-active {
    min-height: 1151px;
    padding-left: 15px;
    padding-bottom: 26px;
  }

  .header__list {
    padding-top: 433px;
    row-gap: 1px;
  }

  .header__form {
    width: 27px;
  }

  .header__link {
    font-weight: 400;
    font-size: 16px;
  }

  .header__li {
    line-height: 20px;
  }

  .header__li:not(:last-child) {
    margin-bottom: 10px;
  }

  .header__li:last-child {
    margin-bottom: 54px;
  }

  .header__btn {
    width: 115px;
    height: 40px;
    font-size: 11px;
  }

  .header__btn svg {
    width: 10px;
    height: 10px;
  }

  .form {
    width: 320px;
    height: 75px;
    right: 0;
  }

  .form__active {
    top: 0px;
    right: 0px;
    width: 100%;
    height: 75px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
  }

  .form__input {
    width: 177px;
    height: 34px;
    padding: 0;
    margin: 0;
  }

  .form__submit {
    width: 17px;
    height: 30px;
    top: 12px;
    left: 58px;
    margin-right: 13px;
  }

  .form__submit svg {
    width: 16px;
    height: 16px;
  }

  .form__closed {
    top: -14px;
    right: 14px;
  }

  .form__closed img {
    width: 15px;
    height: 15px;
  }

  .burger {
    width: 26px;
  }

  .burger-active .burger3 {
    width: 25px;
  }

  .burger__span {
    margin-bottom: 3px;
  }

  .burger1 {
    width: 25px;
  }

  .burger2 {
    width: 16px;
  }

  .burger3 {
    width: 10px;
  }

  .burgers__btn {
    width: 115px;
    min-height: 40px;
    font-size: 12px;
    line-height: 16px;
    padding-top: 0px;
  }

  .header__nav {
    min-height: 45px;
  }

  .header__logo {
    width: 98px;
    font-size: 23px;
  }

  .header__button {
    width: 20px;
    height: 20px;
  }

  .header__search {
    padding-top: 13px;
    padding-left: 36px;
  }

  .hero {
    max-width: 425px;
    min-height: 279px;
    padding-top: 31px;
    text-align: -webkit-center;
  }

  .hero__content {
    padding-bottom: 44px;
  }

  .hero__title {
    max-width: 290px;
    min-height: 73px;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    margin-bottom: 4px;
  }

  .hero__descr {
    font-weight: 400;
    max-width: 246px;
    height: 67px;
    text-align: center;
    font-size: 12px;
    line-height: 15.5px;
    margin-bottom: 15px;
  }

  .hero__btn {
    width: 200px;
    min-height: 40px;
    font-size: 12px;
    line-height: 16px;
  }

  .about {
    max-width: 425px;
    padding-top: 50px;
    padding-bottom: 0;
  }

  .about__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .about__descr {
    width: 290px;
    min-height: 560px;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 41px;
  }

  .galery {
    max-width: 425px;
    min-height: 800px;
    margin-bottom: 50px;
  }

  .galery__content {
    padding-top: 52px;
  }

  .galery__right {
    margin-bottom: 0;
  }

  .galery__left {
    padding-top: 0;
    margin-bottom: 0;
  }

  .galery__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 11px;
  }

  .galery__span {
    margin-bottom: 5px;
  }

  .galery__btn {
    align-self: center;
    margin-bottom: 13px;
    margin-top: 20px;
  }

  .choices {
    width: 289px;
    margin-bottom: 28px;
  }

  .choices__list {
    width: 290px;
  }

  .galery__left {
    display: flex;
    flex-direction: column-reverse;
    min-height: 463px;
  }

  .choices__inner:hover {
    width: 278px;
  }

  .galery__swiper-img img {
    height: 367px;
  }

  .galery__swiper-img:hover::after {
    opacity: 1;
    width: 259px;
    height: 307px;
  }

  .galery__swiper-img::after {
    left: 15px;
    right: 15px;
  }

  .catalog {
    padding-top: 0;
    padding-bottom: 24px;
  }

  .tabs-item__small {
    margin-bottom: 15px;
  }

  .catalog__right {
    margin-bottom: 52px;
  }

  .catalog__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 11px;
  }

  .catalog__descr {
    display: none;
  }

  .accordion__title {
    font-size: 18px;
    line-height: 32px;
  }

  .accordion__top {
    min-height: 76px;
  }

  .accordion__top svg {
    width: 26px;
    height: 26px;
    margin-top: -8px;
  }

  .accordion__bottom {
    column-count: 1;
    justify-content: space-between;
    padding: 20px 0;
  }

  .unknow {
    padding: 25px 0 25px 10px;
  }

  .unknow__title {
    width: 155px;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 5px;
  }

  .unknow__descr {
    width: 139px;
    font-size: 13px;
  }

  .accordion__pic {
    outline-offset: 5px;
    margin-right: 31px;
    min-height: auto;
  }

  .accordion__btn {
    width: 30px;
    min-height: 30px;
  }

  .tabs-item__descr {
    width: 289px;
    line-height: 32px;
  }

  .catalog__photo {
    margin-bottom: 15px;
  }

  .catalog__name {
    word-spacing: 0;
    font-size: 24.5px;
    line-height: 33px;
    margin-bottom: 8px;
  }

  .catalog__descr2 {
    color: #999999;
    font-size: 12px;
    line-height: 16px;
  }

  .events {
    max-width: 425px;
    padding-top: 23px;
    padding-bottom: 2px;
  }

  .events__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 13px;
  }

  .events__card {
    padding-bottom: 98px;
  }

  .events__btn {
    display: none;
  }

  .annot {
    padding-left: 93px;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .events__title2 {
    padding: 0;
    margin-bottom: 4px;
  }

  .events__descr {
    width: 226px;
    padding: 0;
  }

  .events__link {
    left: 27px;
    bottom: 53px;
  }

  .events__text {
    padding-left: 23px;
    padding-right: 16px;
  }


  .event-swiper-pagination {
    margin: 20px auto;
  }

  .project {
    padding-top: 28px;
    padding-bottom: 18px;
  }

  .project__swiper {

    padding-top: 14px;
  }

  .project__slide {
    height: 100%;
  }

  .project__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .project__text {
    width: 291px;
    min-height: 860px;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 51px;
  }

  .partners-title {
    font-size: 18.3px;
  }

  .map-border {
    display: none;
  }

  .map__top {
    border: none;
    padding: 32px 15px;
    padding-bottom: 13px;
    row-gap: 19px;
  }

  .map__title {
    font-size: 18px;
    margin-bottom: 9px;
  }

  .map__descr {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }

  .map__form {
    max-width: 320px;
    margin-bottom: 0;
  }

  .place {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }

  .fio {
    width: 100%;
    padding: 2px 0 2px 24px;
  }

  .map__btn {
    width: 128px;
    min-height: 38px;
    font-size: 12px;
    line-height: 16px;
  }

  .map__btn span {
    display: none;
  }

  .map__span {
    font-size: 17.5px;
    line-height: 30px;
    margin: 0;
  }

  .messager {
    padding-top: 7px;
  }

  .whatsapp {
    width: 50px;
    height: 50px;
  }

  .telegramm {
    width: 50px;
    height: 50px;
  }

  #map {
    height: 320px;
  }

  .footer__mess {
    width: 50px;
    height: 50px;
  }

  .footer__content {
    flex-direction: column-reverse;
    height: auto;
    padding-top: 7px;
  }

  .footer__messager {
    min-width: 121px;
    padding: 11px 0;
  }

  .footer__mess {
    display: flex;
    justify-content: center;
  }

  .footer__logo {
    padding-top: 10px;
  }
}
